* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: hsl(222, 50%, 4%);
  --card-body: hsl(249, 61%, 15%);
  --manager: hsl(13, 90%, 58%);
  --engineer: hsl(173, 70%, 35%);
  --intern: hsl(61, 64%, 63%);
  --header: rgb(111, 92, 219);
}

body {
  background: var(--bg-dark);
}

header {
  padding: 3rem;
  text-align: center;
}

h1 {
  color: var(--header);
}

.card-position {
  margin: 1rem;
  background-color: transparent;
}

.center-text {
  text-align: center;
}

.card-body {
  background-color: var(--card-body);
  border: none;
  border-radius: 20px;
}

h2 {
  border-radius: 8px;
}

.card-title-manager {
  background-color: var(--manager);
}

.card-title-engineer {
  background-color: var(--engineer);
}

.card-title-intern {
  background-color: var(--intern);
}

i {
  /* icons */
}

.card-subtitle {
  /* role */
  padding: 1rem;
}

.card-text span {
  font-weight: bold;
}

.card-text {
}
